@import url("https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap");

:root {
  --primary-color: #41bd42;

  --white: #fff;
  --color-gray-0: #fbfbfb;
  --color-gray-1: #f4f5f7;
  --color-gray-2: #eaecef;
  --color-gray-3: #373e34;

  --primary-font: sans-serif;
  --secondary-font: serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
  line-height: 1.7;
}
